/* @import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap'); */

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.nav-bar {
  background-color: rgba(37, 71, 166, .5);
  height: 80px;
  width: 100%;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  height: 50px;
  width: 70px;
  margin-top: 10px;
  margin-left: 10px;
}

.nav-list {
  float: right;
  margin-right: 20px;
  margin-top: 12px;
  /* border: solid red 3px; */
  /* text-align:center; */
}

.nav-list a {
  text-decoration: none;
  text-align: center;
}

.list-item {
  /* color: #fff; */
  border: 3px solid red;
  text-align: center;
  margin-right: 25px;
  display: inline-block;
  height: 23px;
  width: 75px;
  padding: 15px;
  background-color: yellow;
}

.list-item:hover {
  background-color: #211f61;
  color:#fff;
}

.main {
  height: 700px;
  width: 100%;
  background-image: url('../img/sf-oldschool-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  position: relative;
}

.main-box {
  height: 100px;
  width: 250px;
  position: absolute;
  top: 500px;
  left: 595px;
  background-color: yellow;
  border: 6px solid red;
  border-radius: 15px 15px;
}

.main-text {
  color: #000;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-weight: 600;
  padding-top: 15px;
}

.section {
  width: 100%;
  height: 600px;
  margin-top: 50px;
  /* position: relative; */
}

/* .section-img {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 550px;
  width: 50%;
}

.section-p  {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 550px;
  width: 50%;
}

.super-img, .section-p p {
  height: 500px;
  width: 500px;
} */

.section-img, .section-p {
  height: 550px;
  width: 47%;
  border: solid 3px blue;
  float: left;
  margin-left: 33px;
}

.super-img {
  height: 400px;
  width: 93%;
  padding: 25px;
}

.section-p p {
  padding: 25px;
}


.footer {
  background-color: rgba(37, 71, 166);
  height: 70px;
  width: 100%;
}

.footer div {
  width: 33%;
  float: left;
}

.footer-input, .social, .copy {
  display: block;
  text-align: center;
}

.footer-input {
  margin-top: 15px;
}

.footer-input input, .footer-input button {
  display: inline-block;
}

.footer-input input {
  height: 30px;
  width: 330px;
}

.footer-input button {
  height: 30px;
  width: 55px;
}

.social {
  margin-top: 25px;
}
.fab {
  font-size: 2em;
  color: #fff;
}

.copy {
  color: #fff;
  margin-top: 20px;
}



/*****************About Styles***************/

.about-header {
  background-color: yellow;
  border: 3px solid red;
  height: 100px;
  width: 300px;
  position: absolute;
  top: 130px;
  left: 42%;
}

.about-header h2 {
  font-family: 'Permanent Marker', cursive;
  font-weight: 600;
  text-align: center;
  padding-top: 15px;
}

.container {
  height: 700px;
  width: 100%;
  margin-top: 250px;
}

.container-box {
  height: 650px;
  width: 30%;
  border: 3px solid rgba(37, 71, 166);
  float: left;
  margin-left: 40px;
}

.container-box img {
  height: 300px;
  width: 500px;
}

.container-box iframe {
  width: 500px;
}

.container-box img, .container-box audio, .container-box iframe {
  display: block;
  margin: auto;
  margin-top: 30px;
}

.container-box p {
  padding: 25px
}

/******Contact Styles********/

/* This is with Position Property */
/* .contact-section {
  height: 700px;
  width: 100%;
  background-color: rgba(37, 71, 166, .5);
  margin-top: 200px;
  position: relative;
}

.contact-box {
  height: 600px;
  width: 45%;
  border: 3px solid red;
  position: absolute; 
}

.map {
  left: 70px;
}

.form { 
  right: 70px;
} */

/****** This is with float ******/
 
.contact-section {
  height: 700px;
  width: 100%;
  background-color: rgba(37, 71, 166, .5);
  margin-top: 270px;
}

.contact-box {
  height: 600px;
  width: 45%;
  border: 3px solid red;
  float: left;
  margin-left: 55px;
  margin-top: 20px;
} 


/********This is with display property */
/* .contact-section {
  height: 700px;
  width: 100%;
  background-color: rgba(37, 71, 166, .5);
  margin-top: 200px;
}

.contact-box {
  height: 600px;
  width: 45%;
  border: 3px solid red; 
  display: inline-block;
}  */

.contact-header {
  background-color: yellow;
  border: 3px solid red;
  height: 100px;
  width: 300px;
  position: absolute;
  top: 130px;
  left: 42%;
}

.contact-header h2 {
  font-family: 'Permanent Marker', cursive;
  font-weight: 600;
  text-align: center;
}

.map {
  text-align: center;
}
